<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1> This is home page </h1>
    <h2> Author : {{author}} </h2>
    <h2> Age : {{age}} </h2>
    <h2> List : {{lst}} </h2>

    {% comment %}  Conditional Statement {% endcomment %}
    {% if age >= 20 %}
    <h4> You will get driving license </h4>
    {% elif age >= 10 and age <= 19 %}
    <h4> You will not get driving license </h4>
    {% else %}
    <h4> You're a child </h4>
    {% endif %}


    {% comment %} for loop {% endcomment %}
    {% for i in courses %}
    <h3> {{i.id}} {{i.name}} {{i.fee}} </h3>
    {% endfor %}


    {% comment %} Using join filter  {% endcomment %}
    <h1> {{ lst | join:" - " }} </h1>


    {% comment %} Using date filter  {% endcomment %}
    <h1> {{ birthday | date:"D d M Y" }} </h1>


    {% comment %} default filter  {% endcomment %}
    <h1> {{ val | default:"an empty string"}}</h1>

    {% comment %} add filter  {% endcomment %}
    <h1> {{ num | add:"5" }} </h1>

    {% comment %} capfirst filter  {% endcomment %}
    <h1> {{ str | capfirst }} </h1>

    {% comment %} cut filter  {% endcomment %}
    <h1> {{ "Python is fun" | cut:" " }}</h1>

    {% comment %} length filter  {% endcomment %}
    <h1> {{ val | length }}</h1>

    {% comment %} truncatechars filter  {% endcomment %}
    <h1> {{ "Happy coding. Python is fun." | truncatechars:5 }}</h1>

    {% comment %} truncatewords  {% endcomment %}
    <h1> {{ "Happy coding. Python is fun." | truncatewords:2 }}</h1>

</body>

</html>