{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="car-nation-intro" style="display: flex; align-items: center;">
    <div class="left-text" style="flex: 1; padding: 20px;">
        <h1 style="color: rgb(32, 10, 83);">Welcome to Book Hive!</h1>
        <p>Your ultimate destination for managing your reading adventures! At Book Hive, we connect you with a vast collection of books, making it easy to borrow and return your favorite titles.</p>
        <p>Join thousands of happy readers who have enjoyed the convenience and efficiency of our library management system. Experience exceptional service and support as you explore our diverse catalog and engage in the joy of reading!</p>
    </div>
    
    <div class="right-image" style="flex: 1;">
        <img src="{% static 'lib_pic.webp' %}" alt="Car Image" style="max-width: 100%; height: auto;">
    </div>
</div>
<hr>


<div class="container p-5">
    <h5>All Catagories : </h5>
    <div class="d-flex flex-wrap justify-content-center gap-4">
        <a href="{%url 'home' %}" class="btn btn-info text-white"> All </a>
        {% for cat in catagories %}
            <a href="{% url 'catagory_wise_books' cat.slug %}" class="btn btn-info text-white">{{cat.name}}</a>
        {% endfor %}
    </div>
</div>
<hr>



<div class="col-12 p-3">
    <h4>{{data | length }} results found</h4>
    <div class="d-flex flex-wrap justify-content-center">
      {% for books in data %}
      <div class="card mb-3 col-3">
          <div class="card-body text-center">
            <img src="{{books.image.url}}" class="card-img-top mb-2" alt="...">
            <h4 class="card-title ">{{books.name}}</h4>
            <p class="card-text "><h5>Catagories : {{books.catagories.name}} </h5></p>
            <p class="card-text "><b class="btn btn-secondary text-white fs-5"> ${{books.price}}</b></p>
            <a href="{% url 'details' books.id %}" class="btn btn-info m-auto" style="text-decoration: none;">Details</a>
          </div>
      </div>
      {% endfor %}
    <div>
</div>

{% endblock %}
