{% extends "base.html" %}


{% block content %}


<div class="banner-container d-flex justify-content-center align-items-center">
    <div class="banner-left col-lg-5">
        <h1 class="fs-10"> Enjoy Our Delicious Meal </h1>
        <p> Savor a delightful culinary experience with our carefully crafted dishes, made from the freshest ingredients. From hearty comfort food to exquisite gourmet options, we invite you to indulge in flavors that will leave you craving for more </p>
    </div>
    
    <div class="banner-right">
        <img src="https://www.themealdb.com/images/category/beef.png" alt="">
    </div>
</div>



{% endblock content %}